/* ---- reset ---- */

html {
  box-sizing: border-box;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 1em;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  display: flex;
  padding-top: 10px;
}

h2 {
  font-size: 1em;
}

h3 {
  margin: 0;
  font-size: 1.2em;
  margin-bottom: 10px;
}


p {
  margin:0;
}

/* ---- Navbar ---- */

nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin: 5px 10px;
  height: 100px;
}

ul {
  padding-right: 10px;
}

li {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.tierra-pic {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-height: 73%;

}

/* ---- layout ---- */

#site-header {
  color: white;
  background: midnightblue;
  width: 100%;
  height: 80px;
  top: 0;
  position: fixed;  
  border-radius: 2%;
  z-index: 1;
}

#site-main {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover; 
}

#site-main .landing-page {
  background-image: url(images/jundi.jpg);
  opacity: 50%;
  height: 100vh;
  margin-top: 75px;
}

#site-footer {
  color: white;
  background: midnightblue;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2%;
}


/* ---- components ---- */

.botones {
  margin-top: 50px;
}

.myButton {
	-moz-box-shadow: -9px 17px 26px -7px #276873;
	-webkit-box-shadow: -9px 17px 26px -7px #276873;
	box-shadow: -9px 17px 26px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
  
  background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:1em;;
	font-weight:bold;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:-1px 2px 0px #3d768a;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}


/* ---- Landing Page ---- */

.travel-pic {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-bottom: 30px;
  border-radius: 5%;
  width: 100%;
}

.two {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.four {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/*
.welcome {
  font-size: 2.5em;
  font-family: futura;
  font-style: italic;
  width:100%;
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;

  color:#313131;
  font-weight: bold;
  -webkit-animation:colorchange 20s infinite alternate;
}*/

.title {
  color:#313131;
  font-weight: bold;
  -webkit-animation:colorchange 20s infinite alternate;
  margin-top: 10px;
  display: flex;
  width: 100%;
  height: 100%;

}

@-webkit-keyframes colorchange {
  0% {
    color: blue;
  }
  10% {
    color: #8e44ad;
  }
  20% {
    color: #1abc9c;
  }

  30% {
    color: #d35400;
  }

  40% {
    color: blue;
  }

  50% {
    color: #34495e;
  }

  60% {
    color: blue;
  }

  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }

  90% {
    color: #2980b9;
  }

  100% {
    color: pink;
  }
}

#cf {
  position:relative;
  height:30%;
  width:80%;
  margin:0 auto;
  padding: 30px;
}

#cf .travel-pic {
  position:absolute;
  left:0;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}

#cf .travel-pic.top:hover {
  opacity:0;
}


/* ---- Countries Page ---- */

.countries-list {

}

.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 35px;
  padding: 30px;
  margin-top: 40px;
}


article {
  
  padding-top: 15px;

}

article:hover {
  background-color: #1abc9c;
  border-radius: 10%;
  padding: 6%;
}

.country-name {
  border: 1px solid white;
  background-color: #3d768a;
  border-radius: 8%;
  margin-bottom: 5px;
  padding: 5px;
  color: white;
}

.flag-container{
  display: flex;
  line-height: 200%;
}

.flag-section {
  display: flex;
  justify-content: center;

}
@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }

  #cf {
    top: 6vh;
  }
  
  .botones {
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
    
  }
}

@media (min-width: 1024px) {
  .container {
    margin: 0 auto;
  }

  #cf {
    top: 4vh;
    width: 50%;
  }
  
  .botones {
    margin-top: 300px;
    display: flex;
    justify-content: space-evenly;
    
  }
}